name: YDB tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '18 4 * * *'

env:
  CARGO_TERM_COLOR: always

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        rust_version: [ "1.56.0", "1.63.0" ]

    runs-on: ubuntu-20.04

    steps:
    - name: Install fixed rust version
      uses: ATiltedTree/setup-rust@v1
      with:
        rust-version: ${{ matrix.rust_version }}
        components: clippy

    - name: Checkout
      uses: actions/checkout@v2
      with:
        submodules: true

    - name: Rust version
      id: rust_version_step
      run: |
        rustc --version
        cargo --version
        echo "::set-output name=version::$(rustc --version | cut -d ' ' -f 2)"

    - name: Rust cache
      uses: Swatinem/rust-cache@v2.0.0

    - name: Build
      run: cargo build --verbose --workspace --all-targets

    - name: Linter
      if: matrix.rust_version != '1.56.0'
      run: |
        cargo clippy --workspace --all-targets --all-features -- -D warnings

    - name: Wait database available
      run: bash ./.github/scripts/start-ydb-container.sh

    - name: Run tests
      env:
        YDB_CONNECTION_STRING: grpc://localhost:2136?database=/local
      run: cargo test --verbose --workspace -- --include-ignored
