name: Security

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always
  CARGO_REGISTRIES_CRATES_IO_PROTOCOL: sparse
  RUST_VERSION_NEW: "stable"

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        rust_version: ["RUST_VERSION_NEW" ]
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: true

    - name: Install nightly rust
      if: matrix.rust_version == 'RUST_VERSION_NEW'
      uses: dtolnay/rust-toolchain@nightly
      with:
        components: clippy, rustfmt

    - name: Install stable rust
      uses: dtolnay/rust-toolchain@master # as described in https://github.com/dtolnay/rust-toolchain/blob/master/README.md?plain=1#L45
      with:
        toolchain: ${{ env[matrix.rust_version] }}
        components: clippy, rustfmt

    - name: Rust cache
      uses: Swatinem/rust-cache@v2
      with:
        key: ${{ env[matrix.rust_version] }}

    - name: Rust version
      id: rust_version_step
      run: |
        rustc --version
        cargo --version
        echo "CARGO_INCREMENTAL=$CARGO_INCREMENTAL"
        echo "name=version::$(rustc --version | cut -d ' ' -f 2)" >> $GITHUB_OUTPUT

    - name: Cargo install
      if: matrix.rust_version == 'RUST_VERSION_NEW'
      run: cargo install --locked cargo-audit cargo-pants

    - name: Security check
      if: matrix.rust_version == 'RUST_VERSION_NEW'
      run: |
        cargo audit
        cargo pants
